<<<<<<< HEAD
=======
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3"> 

>>>>>>> master
<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email], :class => "form-control input-lg" %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password, params[:password], :class => "form-control input-lg" %>
  </div>
<<<<<<< HEAD
  <div class="actions"><%= submit_tag "Log In" %></div>
=======
   <div class="spacer25"></div>
  <div class="actions"><%= submit_tag "Log In", :class => "btn btn-default btn-lg btn-block", :id => "transparent-button" %></div>
>>>>>>> master
<% end %>