<div class="row">
  <div class="wrapper col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4"> 

    <h1>BUSINESS SIGN UP</h1>
    <%= form_for(@user, :url => {:action => :create, :controller => :users}) do |f| %>
      <%= f.label :name, 'NAME' %><br />
      <%= f.text_field :name, :class => "form-control input-lg" %>

      <%= f.label :email, 'EMAIL' %><br />
      <%= f.text_field :email, :class => "form-control input-lg" %>

      <%= f.label :password, 'PASSWORD' %><br />
      <%= f.password_field :password, :class => "form-control input-lg" %>

      <%= f.label :password_confirmation, 'PASSWORD CONFIRMATION' %><br />
      <%= f.password_field :password_confirmation, :class => "form-control input-lg" %>

      <%= f.label :phone_number, 'PHONE NUMBER' %><br />
      <%= f.text_field :phone_number, :class => "form-control input-lg" %>

      <!-- Business only -->
      <%= f.hidden_field :is_business, :value => true %>

      <div class="spacer25"></div>
      <%= f.submit "SIGN UP", :class => "btn btn-default btn-lg btn-block", :id => "transparent-button" %><br>
    <% end %>

  </div>
</div>
