<div class="row">
  <div class="wrapper col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 text-center">
    <h1>Orders</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Product count</th>
          <th>Status</th>
          <th>Processing time</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.product_count %></td>
            <td><%= order.status %></td>
            <td><%= order.processing_time %></td>
            <td><%= link_to 'Show', order %></td>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Order', new_order_path %>
  </div>
</div>
