<p id="notice"><%= notice %></p>
<p>
  <strong>Product Name</strong>
    <strong>Ordered by </strong><%= @order.user.name %><br>
    <strong>Processing time</strong>
    <%= @order.processing_time %><br>
    <strong>Payment Type</strong>
    <%= @order.payment_type %><br>
    <strong>Processing Time</strong>
    <%= @order.processing_time %><br>
    <strong>Status</strong>
    <%= @order.status %><br>
    <strong>Delivery Option</strong>
    <%= @order.delivery_option %><br>
    <strong>Delivered By</strong>
    <%= @order.delivered_by %><br>
    <strong>Created at</strong>
    <%= @order.created_at %><br>
    <strong>Last updated at</strong>
    <%= @order.updated_at %><br>
</p>
<% if !current_user.is_business %>
  <%= link_to 'COMPLETE ORDER', orders_path(@order), method: :delete%>
  <button>COMPLETE ORDER</button>
<% else %>
  <button>UPDATE ORDER STATUS</button>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th>Descrip</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Additional Info</th>
      <th>Restaurant</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @order_products.each do |line_item| %>
      <tr>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.product.categories %></td>
        <td><%= line_item.product.description %></td>
        <td><%= image_tag(line_item.product.image_urls, width: '100') %></td>
        <td><%= number_to_currency(line_item.price) %></td>
        <td><%= line_item.quantity %></td>
        <td><%= line_item.additional_info %></td>
        <td><%= line_item.product.restaurant.name %></td>
        <td><%= link_to 'Remove', orderproducts_path(line_item), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
