<h1>Listing restaurants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Yelp_id</th>
      <th>Image Url</th>
      <th>Categories</th>
      <th>Lat</th>
      <th>Lng</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.website %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.street_address_1 %><td>
        <td><%= restaurant.street_address_2 %><td>
        <td><%= restaurant.city %><td>
        <td><%= restaurant.state %><td>
        <td><%= restaurant.zipcode %><td>
        <td><%= restaurant.country %><td>
        <td><%= restaurant.yelp_id %></td>
        <td><%= image_tag(restaurant.image_url, width: "50px") %></td>
        <td><%= restaurant.categories %></td>
        <td><%= restaurant.lat %></td>
        <td><%= restaurant.lng %></td>
        <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>