<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th>Description</th>
      <th>Image urls</th>
      <th>Regular price</th>
      <th>Discount price</th>
      <th>Discount start time</th>
      <th>Discount end time</th>
      <th>Discount inventory</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.categories %></td>
        <td><%= product.description %></td>
        <td><%= image_tag(product.image_urls, width: "50px") %></td>
        <td><%= product.regular_price %></td>
        <td><%= product.discount_price %></td>
        <td><%= product.discount_start_time.strftime("%I:%M %p") %></td>
        <td><%= product.discount_end_time.strftime("%I:%M %p") %></td>
        <td><%= product.discount_inventory %></td>
        <% if current_user == product.restaurant.user %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Delete', product, method: :delete %></td>
        <% else %>
          <td><%= link_to 'Order', add_to_current_order_path(product), :data => {:controller => "orders_controller", :action => "add_to_current_order(product)"}%></td>
        <% end %>
        <td><%= link_to 'Show', product %></td>
      </tr>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Show add new product option if user is a business account -->
<% if current_user && current_user.is_business %>
  <%= link_to 'New item', new_product_path %>
<% end %>

