<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 text-center">
      <!-- Show add new product option if user is a business account -->
    <% if current_user && current_user.is_business %>
      <div class="food-item row">
        <%= link_to 'NEW ITEM', new_product_path %>
      </div>
    <% end %>
    <!-- FOOD OPTIONS HERE EACH AT A TIME -->
    <% @products.each do |product| %>
      <div class="food-item row">

        <div class="dislike-item col-xs-2 col-sm-2 col-md-2">
          <%= image_tag(product.image_urls, height: "100px", width:"100%") %>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8">
        <tr>
          <strong><%= product.name %></strong><br>
          <small><%= product.categories %></small><br>
          <%= product.description %><br>
          <strong><%= number_to_currency(product.regular_price) %></strong>
        </tr>
        <tr>
        </tr>
        </div>

        <div class="like-item col-xs-2 col-sm-2 col-md-2">
            <% if current_user == product.restaurant.user %>
              <%= link_to 'SHOW', product %>
              <%= link_to 'EDIT', edit_product_path(product) %>
              <%= link_to 'DELETE', product, method: :delete %>
            <% else %>
              <%= link_to 'ORDER', add_to_current_order_path(product), :data => {:controller => "orders_controller", :action => "add_to_current_order(product)"}, :class => "glyphicon glyphicon-shopping-cart"%>
            <% end %>
        </div>
      </div>
    
    <% end %>
  </div>
</div>


