<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 text-center">

<% if current_user.restaurants.first %>
  <div> New menu item for <%= current_user.restaurants.first.name %></div>
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :categories %><br>
      <%= f.text_field :categories, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :image_urls %><br>
      <%= f.text_field :image_urls, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :regular_price %><br>
      <%= f.text_field :regular_price, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :delivery_method %><br>
      <%= f.label "Deliver" %>
      <%= f.check_box(:delivery_method,{:multiple => true}, "Deliver")%>
      <%= f.label "Take out" %>
      <%= f.check_box(:delivery_method,{:multiple => true}, "Take out",nil)%>
      <%= f.label "Dine in" %>
      <%= f.check_box(:delivery_method,{:multiple => true}, "Dine in",nil)%>
    </div>
    <div class="field">
      <%= f.label :ordr %><br>
      <%= f.text_field :ordr, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :discount_price %><br>
      <%= f.text_field :discount_price, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :discount_start_time %><br>
      <%= f.time_select :discount_start_time %>
    </div>
    <div class="field">
      <%= f.label :discount_end_time %><br>
      <%= f.time_select :discount_end_time %>
    </div>
    <div class="field">
      <%= f.label :discount_inventory %><br>
      <%= f.text_field :discount_inventory, :class => "form-control" %>
    </div><br>
    
    <div class="actions">
      <%= f.submit "Create", :class => "btn btn-default btn-lg btn-block", :id => "transparent-button" %>
    </div>
  <% end %>
<% else %>
  <% if current_user.is_business %>
    <p><%= link_to "Please create your restaurant first.", new_restaurant_path %></p>
  <% else %>
    <p>You can't create new product. Please sign in as business user.</p>
  <% end %>
<% end %><br>
</div>
</div>
<div class="spacer25"></div>
<%= link_to 'Back', products_path %>