<p id="notice"><%= notice %></p>
<p>
  <strong>Restaurant</strong>
  <%= @product.restaurant.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @product.categories %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image</strong>
  <%= image_tag(@product.image_urls, width: "50px") %>
</p>

<p>
  <strong>Regular price:</strong>
  <%= @product.regular_price %>
</p>

<p>
  <strong>Discount price:</strong>
  <%= @product.discount_price %>
</p>

<p>
  <strong>Discount start time:</strong>
  <%= @product.discount_start_time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Discount end time:</strong>
  <%= @product.discount_end_time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Discount inventory:</strong>
  <%= @product.discount_inventory %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
