<!DOCTYPE html>
<html>
<head>
  <title>feedme</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
</head> 

<body>
  <div id="container">
    <div id="user_header">
    <% if current_user %>
      Logged in as <%= link_to current_user.email, user_path(current_user) %>.
      <%= link_to "Log Out", logout_path %>
    <% else %>
    <ul class="nav nav-pills">
      <li role="presentation">
        <%=link_to 'feedme', root_path %>
      </li>
      <li role="presentation">
        <%=link_to 'Log in', login_path if !@is_login %> 
      </li>
      <li role="presentation">
        <%=link_to 'Sign Up', signup_path if !@is_signup%>
      </li>
      <li role="presentation">
        <%=link_to 'Business Sign Up', new_business_path if !@is_signup%>
      </li>
    <% end %>
    </div>
  </div>

  <% if notice %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= notice %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>